.easy-tabs-etabs  {
     margin:  0;
     padding:  0;
 }

.easy-tabs-tab  {
     display:  inline-block;
     zoom: 1;
     *display: inline;
     background:  #eee;
     border:  solid 1px #999;
     border-bottom:  none;
     -moz-border-radius:  4px 4px 0 0;
     -webkit-border-radius:  4px 4px 0 0;
 }

.easy-tabs-tab a  {
     font-size:  14px;
     line-height:  2em;
     display:  block;
     padding:  0 10px;
     outline:  none;
     text-decoration: none;
 }

.easy-tabs-tab a:hover  {
     text-decoration:  none;
 }

.easy-tabs-tab.active  {
     background:  #fff;
     padding-top:  6px;
     position:  relative;
     top:  1px;
     border-color:  #666;
 }

.easy-tabs-tab a.active  {
     font-weight:  bold;
 }

.easy-tabs-tab-container .easy-tabs-panel-container  {
     background:  #fff;
     border:  solid #666 1px;
     padding:  10px;
     -moz-border-radius:  0 4px 4px 4px;
     -webkit-border-radius:  0 4px 4px 4px;
     overflow: auto;
 }
